<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }
    </style>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.css" rel="stylesheet" />
</head>

<body>
    <div class="">
        <div class="d-flex justify-content-between py-3">
            <div></div>
            <h1>Admin Panel</h1>
            <div>
                <a href="/logout">
                    <button class="d-flex align-items-center btn btn-success me-3"><i
                            class="fa-solid fa-sign-out me-2"></i><span class="d-none d-sm-block">Logout</span></button>
                </a>
            </div>
        </div>
        <!-- Students List -->
        <div class="mb-5">
            <div class="d-flex justify-content-between px-1 py-3" style="background-color: rgb(50, 50, 50); color: white;">
                <h3 class="mx-2">Students</h3>
                <div>
                    <button class="d-flex align-items-center btn btn-success me-3" onclick="window.open('/new?type=student');"><i class="fa fa-plus me-2"
                            aria-hidden="true"></i><span class="d-none d-sm-block">Add</span></button>
                </div>
            </div>
            <hr>
            <div class="">
                <table style="width: 100%;">
                    <tr class="">
                        <th class="px-2" style="width: 30%;">Name</th>
                        <th class="" style="width: 30%;">Class</th>
                        <th class="d-flex justify-content-center" style="width: 100%;">Options</th>
                    </tr>
                    <% for(var i=0; i < students.length; i++) { %>
                        <tr>
                            <td class="py-3 px-2">
                                <%= students[i].fname %>
                            </td>
                            <td class="py-3 px-2">
                                <%= students[i].branch %>
                            </td>
                            <td class="py-3 px-2 d-flex justify-content-center">
                                <button onclick="window.open('/form?username=<%= students[i].username %>')" class="d-flex align-items-center btn btn-primary me-3">
                                    <i class="fas fa-edit me-2"></i>
                                    <span class="d-none d-md-block">Edit</span></button>
                                <!-- <button class="d-flex align-items-center btn btn-danger">
                                    <i class="fa-solid fa-print me-2"></i>
                                    <span class="d-none d-md-block">Print</span>
                                </button> -->
                            </td>
                        </tr>
                        <% } %>

                </table>
            </div>
        </div>

        <!-- Admins List -->
        <div class="mb-5">
            <div class="d-flex justify-content-between px-1 py-3" style="background-color: rgb(50, 50, 50); color: white;">
                <h3 class="mx-2">Students</h3>
                <div>
                    <button class="d-flex align-items-center btn btn-success me-3" onclick="window.open('/new?type=admin');"><i class="fa fa-plus me-2"
                            aria-hidden="true"></i><span class="d-none d-sm-block">Add</span></button>
                </div>
            </div>
            <hr>
            <div class="">
                <table style="width: 100%;">
                    <tr class="">
                        <th class="px-2" style="width: 30%;">Name</th>
                        <th class="" style="width: 30%;">Class I/C</th>
                        <th class="d-flex justify-content-center" style="width: 100%;">Options</th>
                    </tr>
                    <% for(var i=0; i < admins.length; i++) { %>
                        <tr>
                            <td class="py-3 px-2">
                                <%= admins[i].fname %>
                            </td>
                            <td class="py-3 px-2">
                                <%= admins[i].branch %>
                            </td>
                            <td class="py-3 px-2 d-flex justify-content-center">
                                <button onclick="window.open('/form?username=<%= admins[i].username %>')" class="d-flex align-items-center btn btn-primary me-3">
                                    <i class="fas fa-edit me-2"></i>
                                    <span class="d-none d-md-block">Edit</span>
                                </button>
                                <!-- <button class="d-flex align-items-center btn btn-danger">
                                    <i class="fa-solid fa-print me-2"></i>
                                    <span class="d-none d-md-block">Print</span>
                                </button> -->
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>


    </div>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"></script>
</body>

</html>